@import "tailwindcss";
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color-scheme: light dark;
  color: #111827;
  background-color: #f9fafb;
  overflow: hidden;

}

html {
  scroll-behavior: smooth;
}

